<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="conduction_saml_metadata" controller="conduction_saml.saml_controller:metadataAction" path="/saml/metadata" />
    <route id="conduction_saml_login" controller="conduction_saml.saml_controller:loginAction" path="/saml/login" />
    <route id="conduction_saml_artifact" controller="conduction_saml.saml_controller:artifactAction" path="/saml/SLO/artifact" />
</routes>